@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #31333B;
  --bg-secondary: #3D3E42;
  --primary: #7D9C6A;
  --secondary: #896A9C;
  --gray1:#5d5e61;
  --gray2: #7a7b7d; 
  --white: #f2f5f0;
}

body {
  background-color: var(--bg);
}

section {
  padding: 40px;
}

.text-gradient {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}